<h2>Sign up</h2>
<form (ngSubmit)="login()" [ngFormModel]="userForm">
    <div>
        <label>Username</label><input ngControl="username">
        <div *ngIf="username.dirty && username.hasError('required')">Username is required</div>
    </div>
    <div>
        <label>Password</label><input type="password" ngControl="password">
        <div *ngIf="password.dirty && password.hasError('required')">Password is required</div>
    </div>
    <button type="submit" [disabled]="!userForm.valid">Register</button>
</form>